body {
  background: #2193b0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(90deg, #e8e8e8 50%, #e8e8e8 50%) left/50%, -webkit-linear-gradient(35deg, #3931af, #00c6ff) left/50%;
  background: linear-gradient(90deg, #e8e8e8, #e8e8e8) left/50% 100% no-repeat, linear-gradient(35deg, #3931af, #00c6ff) right 100% no-repeat;
  /*background:*/
  /*        linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),*/
  /*        linear-gradient(217deg, rgba(0,0,0,.8), rgba(0,0,0,0) 70.71%);*/
  /*background:linear-gradient(90deg, #e8e8e8 50%, #3931af 50%);*/
  /*background:-webkit-linear-gradient(left, #3931af, #00c6ff);*/
  /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/ }

.portfolio {
  padding: 4%;
  text-align: center; }

.heading {
  background: #fff;
  padding: 1%;
  text-align: left;
  box-shadow: 0 0 4px 0 #545b62; }

.heading img {
  width: 10%; }

.bio-info {
  background: #fff;
  box-shadow: 0 0 4px 0 #b0b3b7; }

.bio-image {
  text-align: center; }

.bio-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%; }

@media (max-width: 575.98px) {
  #my-name {
    font-size: 2.5rem !important; } }

@media (max-width: 367.98px) {
  #my-name {
    font-size: 2rem !important; } }

.social-list li {
  border: none !important; }

.social-list a li svg {
  width: 25px !important;
  height: 25px !important; }

.social-list a:nth-child(1) svg {
  color: #4b6ea8 !important; }

.social-list a:nth-child(1) li:hover {
  background-color: #4b6ea8 !important; }
  .social-list a:nth-child(1) li:hover svg {
    color: white !important; }

.social-list a:nth-child(2) svg {
  color: #04669A !important; }

.social-list a:nth-child(2) li:hover {
  background-color: #04669A !important; }
  .social-list a:nth-child(2) li:hover svg {
    color: white !important; }

.social-list a:nth-child(3) svg {
  color: rgba(4, 2, 4, 0.77) !important; }

.social-list a:nth-child(3) li:hover {
  background-color: rgba(4, 2, 4, 0.77) !important; }
  .social-list a:nth-child(3) li:hover svg {
    color: white !important; }

.titles {
  font-size: 1.1rem !important; }

@media (max-width: 575.98px) {
  .proj-link {
    word-wrap: break-word; } }

/* Icon 3 */
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #000000;
  display: block;
  transition: all 0.2s;
  margin-top: 4px; }

.navbar-toggler {
  border: none;
  background: transparent !important; }

.top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; }

.middle-bar {
  opacity: 0; }

.bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; }

.menu {
  cursor: pointer; }

.collapsed .top-bar {
  transform: rotate(0); }

.collapsed .middle-bar {
  opacity: 1; }

.collapsed .bottom-bar {
  transform: rotate(0); }

.slide {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(27, 27, 27, 0.9) 100%);
  position: absolute;
  height: calc(100vh - 56px);
  width: 0;
  right: 0;
  top: 100%;
  overflow: hidden;
  transition: 0.5s; }

.slideshow {
  display: flex;
  z-index: 100;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  color: rgba(251, 251, 251, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center; }
  @media (max-width: 991.98px) {
    .slideshow {
      width: 35%; } }
  @media (max-width: 767.98px) {
    .slideshow {
      width: 50%; } }

.sidenav {
  height: 0;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  margin: 0 auto;
  z-index: 1;
  /* Stay on top */
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0); }

.showsidenav {
  height: 55px;
  width: 90%;
  margin: 0 auto;
  transform: scaleY(1); }
  @media (max-width: 767.98px) {
    .showsidenav {
      height: auto; } }

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: inline-block; }
  .sidenav a.selected {
    color: #f1f1f1; }

.sidenav a:hover {
  color: #f1f1f1; }
