body {
  background: #2193b0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(90deg, #e8e8e8 50%, #e8e8e8 50%) left/50%, -webkit-linear-gradient(35deg, #3931af, #00c6ff) left/50%;
  background: linear-gradient(90deg, #e8e8e8, #e8e8e8) left/50% 100% no-repeat, linear-gradient(90deg, #3931af, #00c6ff) right 100% no-repeat;
  height: 100%;
  background-attachment: fixed;
  /*background:*/
  /*        linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),*/
  /*        linear-gradient(217deg, rgba(0,0,0,.8), rgba(0,0,0,0) 70.71%);*/
  /*background:linear-gradient(90deg, #e8e8e8 50%, #3931af 50%);*/
  /*background:-webkit-linear-gradient(left, #3931af, #00c6ff);*/
  /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/ }

.portfolio {
  padding: 4%;
  text-align: center; }

.heading {
  background: #fff;
  padding: 1%;
  text-align: left;
  box-shadow: 0 0 4px 0 #545b62; }

.heading img {
  width: 10%; }

.bio-info {
  background: #fff;
  box-shadow: 0 0 4px 0 #b0b3b7; }

.bio-image {
  text-align: center; }

.bio-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%; }

@media (max-width: 575.98px) {
  #my-name {
    font-size: 2.5rem !important; } }

@media (max-width: 367.98px) {
  #my-name {
    font-size: 2rem !important; } }

.social-list li {
  border: none !important; }

.social-list a li svg {
  width: 25px !important;
  height: 25px !important; }

.social-list a:nth-child(1) svg {
  color: #4b6ea8 !important; }

.social-list a:nth-child(1) li:hover {
  background-color: #4b6ea8 !important; }
  .social-list a:nth-child(1) li:hover svg {
    color: white !important; }

.social-list a:nth-child(2) svg {
  color: #04669A !important; }

.social-list a:nth-child(2) li:hover {
  background-color: #04669A !important; }
  .social-list a:nth-child(2) li:hover svg {
    color: white !important; }

.social-list a:nth-child(3) svg {
  color: rgba(4, 2, 4, 0.77) !important; }

.social-list a:nth-child(3) li:hover {
  background-color: rgba(4, 2, 4, 0.77) !important; }
  .social-list a:nth-child(3) li:hover svg {
    color: white !important; }

.titles {
  font-size: 1.1rem !important; }

@media (max-width: 575.98px) {
  .proj-link {
    word-wrap: break-word; } }

/* Icon 3 */
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #000000;
  display: block;
  transition: all 0.2s;
  margin-top: 4px; }

.navbar-toggler {
  border: none;
  background: transparent !important; }

.top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; }

.middle-bar {
  opacity: 0; }

.bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; }

.menu {
  cursor: pointer; }

.collapsed .top-bar {
  transform: rotate(0); }

.collapsed .middle-bar {
  opacity: 1; }

.collapsed .bottom-bar {
  transform: rotate(0); }

.slide {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(27, 27, 27, 0.9) 100%);
  position: absolute;
  height: calc(100vh - 56px);
  width: 0;
  right: 0;
  top: 100%;
  overflow: hidden;
  transition: 0.5s; }

.slideshow {
  display: flex;
  z-index: 100;
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  color: rgba(251, 251, 251, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center; }
  @media (max-width: 991.98px) {
    .slideshow {
      width: 35%; } }
  @media (max-width: 767.98px) {
    .slideshow {
      width: 50%; } }

.sidenav {
  height: 0;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  margin: 0 auto;
  z-index: 1;
  /* Stay on top */
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0); }

.showsidenav {
  height: 55px;
  width: 90%;
  margin: 0 auto;
  transform: scaleY(1); }
  @media (max-width: 767.98px) {
    .showsidenav {
      height: auto; } }

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: inline-block; }
  .sidenav a.selected {
    color: #f1f1f1; }

.sidenav a:hover {
  color: #f1f1f1; }

.form-control {
  border: 2px solid transparent;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  -webkit-transition: all 150ms ease-in-out 0s;
  -moz-transition: all 150ms ease-in-out 0s;
  -ms-transition: all 150ms ease-in-out 0s;
  -o-transition: all 150ms ease-in-out 0s;
  transition: all 150ms ease-in-out 0s; }

.form-control:focus {
  border-color: #171717;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.form-control:focus {
  border-color: #4c9cef;
  border-width: 2px; }

.button {
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 17px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 20px 60px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.button-style {
  border: 3px solid #fff;
  color: #fff; }

.button-style:hover,
.button-style:active,
.button-style:focus {
  color: #ffffff;
  background: #4c9cef; }

.button-style-dark {
  border: 3px solid #000000;
  color: #000000; }

.webbtn .btn-link {
  background: transparent;
  margin: 3px;
  border: 1px solid #eaeaea;
  border-radius: 0px; }

.webbtn .btn-link:hover {
  background: #eaeaea;
  color: black; }

.webcard {
  display: flex;
  padding: 0;
  flex-flow: row wrap;
  align-content: center;
  align-items: stretch;
  justify-content: center; }

.webcard > .web {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  flex: 0 1 360px;
  margin: 15px;
  padding: 0; }

.webcard > .web:hover {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); }

.webcard > .web figure {
  margin: 0;
  padding: 0;
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100%; }

.webpic {
  background: #444;
  position: relative; }

.webbtn {
  margin: 0;
  padding: 0; }

.webbtn:after {
  clear: both; }

.webcard > .web figure .webpic img {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: .50; }

.webcard > .web:hover figure .webpic img {
  opacity: 0.9; }

.webcard > .web figure .webpic .webnum {
  text-transform: uppercase;
  color: #fff;
  font-size: .8em;
  position: absolute;
  left: 15px;
  bottom: 15px;
  padding: 3px 5px; }

.webcard > .web figure .webpic .webnum.hot {
  background: #000;
  background: red;
  background: -webkit-linear-gradient(0deg, red, orange);
  background: linear-gradient(90deg, red, orange);
  background-size: 200% 200%;
  -webkit-animation: hot 10s ease infinite;
  -moz-animation: hot 10s ease infinite;
  -o-animation: hot 10s ease infinite;
  animation: hot 10s ease infinite; }

.webcard > .web figure .webbtn {
  background: transparent;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-content: center; }

.webcard > .web figure .webbtn a {
  flex: 1; }

.webcard > .web figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  margin: 0 0 30px;
  display: flex;
  flex-flow: column nowrap;
  color: white; }

figcaption h3 a {
  text-decoration: none;
  color: white; }

.tourprice {
  opacity: 0;
  display: none;
  font-size: .8em; }

.currency {
  font-weight: 300; }

.price {
  font-size: 2em;
  font-weight: 300; }
